<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="cn.lv.hgstudy.dao.ChapterDao">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <select id="selectChaptersByCouId" parameterType="String"  resultMap="chapterMap">
		select c.*,j.joint_id,j.joint_title,j.joint_infor,j.joint_index,j.chapter_id jc_id from 
				chapter c left join joint j on c.chapter_id = j.chapter_id 
					where c.cou_id = #{couid} order by c.chapter_index ,j.joint_index 
	</select>
	
	<select id="selectChapterByCId" parameterType="Integer"  resultMap="chapterMap">
		select * from chapter c where c.chapter_id = #{chapterid}
	</select>
	
    <delete id="deleteChapterById" parameterType="Integer">
		delete c from chapter c where c.chapter_id = #{chapterid}
	</delete>
	
	<update id="editChapterInfor" parameterType="Chapter">  
        update chapter c
            set c.chapter_title = #{chapterTitle},
            	c.chapter_infor = #{chapterInfor}
         where c.chapter_id = #{chapterId}    
	</update>

	<insert id="addChapter" parameterType="Chapter" > 
  		insert into chapter
  			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="chapterIndex != null">
					chapter_index,
				</if>
				<if test="chapterTitle != null">
					chapter_title,
				</if>
				<if test="chapterInfor != null">
					chapter_infor,
				</if>
				cou_id,
			</trim>
			<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="chapterIndex != null">
					#{chapterIndex},
				</if>
				<if test="chapterTitle != null">
					#{chapterTitle},
				</if>
				<if test="chapterInfor != null">
					#{chapterInfor},
				</if>
				#{couId},
			</trim>
	</insert>
	
	<resultMap type="Chapter" id="chapterMap">
         <!-- 用id属性来映射主键字段  -->
         <id property="chapterId" column="chapter_id"/>
         <!-- 用result属性来映射非主键字段 -->
         <result property="chapterTitle" column="chapter_title"/>
         <result property="chapterIndex" column="chapter_index"/>
         <result property="couId" column="cou_id"/>
         <result property="chapterInfor" column="chapter_infor"/>
         <collection property="joints"  ofType="Joint">  
	         <id property="jid" column="joint_id"/>
	         <!-- 用result属性来映射非主键字段 -->
	         <result property="jointIndex" column="joint_index"/>
	         <result property="jointTitle" column="joint_title"/>
	         <result property="jointInfor" column="joint_infor"/>
	         <result property="chapterid" column="jc_id"/>
        </collection> 
     </resultMap>
</mapper>